asttokens==2.4.1
backcall==0.2.0
chumpy==0.70
decorator==5.1.1
distlib==0.3.7
executing==2.0.1
ffmpeg-python==0.2.0
filelock==3.12.4
future==0.18.3
ipython==8.12.3
jedi==0.19.1
matplotlib-inline==0.1.6
meshcat==0.3.2
numpy==1.23.1
opencv-python==4.8.1.78
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.1.0
platformdirs==3.10.0
prompt-toolkit==3.0.41
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.17.2
pyngrok==7.0.1
PyYAML==6.0.1
pyzmq==25.1.1
scipy==1.10.1
six==1.16.0
stack-data==0.6.3
tornado==6.3.3
traitlets==5.13.0
typing_extensions==4.8.0
u-msgpack-python==2.8.0
virtualenv==20.24.5
wcwidth==0.2.12
